<footer class="section-footer">
    <div class="container wrapper">
        <div class="footer-container">
            <div>
                <img src="/assets/logo-white.png" alt="Comfort Craddle logo" srcset="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, officia voluptatibus. Fugit unde praesentium nesciunt totam doloribus. Id, quos adipisci!</p>
            </div>
            <div class="contact-details">
                <ul class="contact-list">
                    <li class="contact-item">
                        <i class="fa fa-phone"></i>
                        <div>
                            <span>Call Us</span>
                            <p>+233 241 105 423</p>
                        </div>
                    </li>
                    <li class="contact-item">
                        <i class="fa fa-envelope"></i>
                        <div>
                            <span>Email Address</span>
                            <p>carbellsarfo@gmail.com</p>
                        </div>
                    </li>
                    <li class="contact-item">
                        <i class="fa fa-map-marker"></i>
                        <div>
                            <span>Locate Us</span>
                            <p>Adjringanor, Block Factory</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="social-details">
                <div class="container wrapper">
                    <h2 class="heading-secondary">Follow Us on Social Media</h2>

                    <ul class="social-list">
                        <li class="social-item">
                            <a href="#" class="social-link">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="#" class="social-link">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="#" class="social-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>